%header
  %a.logo(href = "#{root_path}" alt = "home" )
    = image_tag("logo.jpg")
  %nav
    %ul
      %li= link_to "home",  root_path
      - if signed_in?
        %li= link_to "Users", users_path
        %li= link_to "Profile", current_user
        %li= link_to "Settings", edit_user_path(current_user)
      %li= link_to "about", about_path
      %li= link_to "help", help_path
      %li
        - if signed_in?
          = link_to "sign out ((", signout_path, :method => :delete
        - else
          = link_to "Sign in )))",  signin_path
  .clearfix
  %hr
